/* VARIABLES */
:root {
  --light-background: #f2ece4;
  --light-text: #036;
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-line-height : 1.5; */
}

/* MIXINS */ /**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* FONTS */
/* candal-regular - latin */
@font-face {
  font-family: "Candal";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/candal-v15-latin-regular.woff2") format("woff2"), url("../fonts/candal-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-canadian-aboriginal-regular - latin */
@font-face {
  font-family: "Noto Sans Canadian Aboriginal";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/noto-sans-canadian-aboriginal-v21-latin-regular.woff2") format("woff2"), url("../fonts/noto-sans-canadian-aboriginal-v21-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0b182b;
  /* font-family: "Roboto", "Arial", sans-serif; */
  /* font-size: 16px; */
  /* font-weight: 400; */
  /* line-height: var(--main-line-height); */
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1740px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding-top: 20px;
}

.header-box__form {
  width: 50%;
  margin: 0 auto;
}

.header-box__input {
  width: 50%;
  padding: 8px 0 8px 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #fff;
  background-color: #213048;
}
.header-box__input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
}
.header-box__input::-moz-placeholder {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
}
.header-box__input:-ms-input-placeholder {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
}
.header-box__input::-ms-input-placeholder {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
}
.header-box__input::placeholder {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
}

.header-box__btn {
  padding: 8px 12px;
  color: #fff;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  background-color: #213048;
  text-decoration: none;
}

.hero {
  padding-top: 100px;
}

.hero-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#globe {
  cursor: move;
  position: relative;
  top: -50px;
  left: calc(50% - 380px);
}
#globe:active {
  cursor: pointer;
}

.bg {
  width: 30px;
  height: 30px;
  background-color: #736b96;
}

.hero-box__form {
  width: 100%;
  max-width: 350px;
}

.hero-box__country-info {
  width: 100%;
  max-width: 450px;
}

.hero-box__title {
  margin: 0;
  width: 100%;
  min-height: 15px;
  max-width: 400px;
  font-family: monospace;
  text-align: center;
  font-size: 45px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
}

.hero-box__info-text {
  margin-top: 0;
  font-family: monospace;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  color: #fff;
}

.hero-info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.hero-box__grb {
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px;
  width: 300px !important;
  height: 160px !important;
}

.hero-box__population {
  text-align: center;
  font-family: "Noto Sans Canadian Aboriginal";
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: #0b773b;
}

.hero-box__borders {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: #0b773b;
}

.hero-box__map {
  margin: 0;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
}

.map-box {
  margin-top: 0 !important;
}

.item-box {
  margin: 0 auto;
  width: 300px !important;
  height: 120px !important;
}

.item-box__flag {
  margin: 0 auto;
  width: 300px !important;
  height: 180px !important;
}

.item-box__bor-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: "Candal";
  font-size: 25px;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
}
.item-box__bor-title .item-box__region {
  text-align: center;
  font-family: "Noto Sans Canadian Aboriginal";
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: #0b773b;
}

.item-box__info * p {
  font-size: 20px;
  line-height: 22px;
  color: #0b773b;
  font-weight: 400;
}

:root {
  --header-bgcolor:#fff;
  --body-bgcolor:#f2f2f2;
  --main-font-family: "Nunito Sans", "Arial", sans-serif;
  --text-color:#111517;
  --card-border-radius:5px;
  --dark-moon: url("../img/moon.svg");
}

.theme-dark {
  --header-bgcolor:#2B3844;
  --text-color:#fff;
  --body-bgcolor:#202C36;
  /* --dark-moon: url("../img/Path.svg"); */
}

.body-all {
  background-color: var(--body-bgcolor);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: var(--text-color);
}

.heder-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color);
  border-style: none;
}

.heder-text::before {
  background-image: var(--dark-moon);
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-repeat: no-repeat;
}

.hero-input {
  width: 100%;
  max-width: 480px;
  background-color: var(--header-bgcolor);
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0549019608);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0549019608);
  border: none;
  border-radius: 5px;
  padding: 19px 0px 19px 34px;
  color: var(--text-color);
}

.hero-input::-webkit-input-placeholder {
  color: var(--text-color);
}

.hero-input::-moz-placeholder {
  color: var(--text-color);
}

.hero-input:-ms-input-placeholder {
  color: var(--text-color);
}

.hero-input::-ms-input-placeholder {
  color: var(--text-color);
}

.hero-input::placeholder {
  color: var(--text-color);
}

.form::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-search-black.svg");
  width: 58px;
  height: 58px;
  background-size: 18px;
  background-position: calc(50% + 10px) calc(50% - 1px);
  background-repeat: no-repeat;
}

.select {
  padding: 18px 19px 18px 24px;
  background-color: var(--header-bgcolor);
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  border: none;
  color: var(--text-color);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

.hero-list {
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.hero-list-box {
  width: 100%;
  max-width: 267px;
  background-color: var(--header-bgcolor);
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
          box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
  list-style: none;
  margin-top: 68px;
}

.hero-list-box-modal {
  background-color: var(--header-bgcolor);
}

.modal-content {
  background-color: var(--header-bgcolor);
}

.modal-dialog {
  width: 100%;
  max-width: 900px;
}

.hero-list-box:last-child {
  margin-right: 0;
}

.box-place {
  padding: 24px 0 10px 24px;
}

.flag-img {
  display: block;
  width: 267px;
  height: 170px !important;
  margin-bottom: auto;
}

.hero-list-box-title {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: var(--text-color);
}

strong {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
}

.hero-list-box-text {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
}

.hero-list-box-text-md {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
  color: var(--text-color);
}

.btn-more {
  display: inline;
  margin-top: 38px;
  width: 100px;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

@media only screen and (max-width: 435px) {
  .header-link {
    font-size: 14px;
    line-height: 20px;
  }
}/*# sourceMappingURL=main.css.map */