.item-box{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    border-radius: 20px;
    background-color: #6839ba1e;
    backdrop-filter: blur(20px);
}


.item-box__reg-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
}
.item-box__region{
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
}
.item-box__info{
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-box__info * p{
    margin: 0;
    color: #fff;
}
.item-box__info * strong{
    color: #fff;
}